<!DOCTYPE html>
<html lang="en">
<head>
  <title> IoT Door </title>
  <link rel="stylesheet" href="/statics/styles/reset.css">
  <link rel="stylesheet" href="/statics/styles/style.css">
  <link rel="stylesheet" href="/statics/styles/toggle.css">
  <script src="/statics/scripts/app.js" defer></script>
</head>
<body>

<header>
  <h1>The Great Pet Feeder</h1>
  <h3>This is the form for controlling the Great Pet Feeder. It's not very robust, but it's a good proof of concept.</h3>
</header>

<form action="{{ url_for("schedule") }}" method="post" id="time-form">
  <div class="choice">
    <label for="choice">Feed pet automatically</label>
    <label class="switch">
      <input type="checkbox" name="choice" id="choice">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="form-section" id="times">
    <div class="time1">
      <label for="time1" class="time-label">First feeding time:</label>
      <input type="time" name="time1" id="time1" value="None" required>
    </div>

    <div class="time2">
      <label for="time2" class="time-label">Second feeding time:</label>
      <input type="time" name="time2" id="time2" value="None" required>
    </div>

    <div class="time3">
      <label for="time3" class="time-label">Third feeding time:</label>
      <input type="time" name="time3" id="time3" value="None" required>
    </div>
  </div>

  <div class="form-section" id="submit">
    <button type="submit">Submit</button>
  </div>
</form>

<div id="test-div">
  <p>Want to just test out the connection?</p>
  <a href="{{ url_for("test") }}"><button id="test-btn">Feed!</button></a>
</div>
</body>
</html>
